{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "BinckBank.OpenApi",
    "description": "\r\nBinckBank OpenAPI is an API Platform to access BinckBank's trading services.\r\n\r\nCurious? Request your access key after reading the documentation on Github: https://github.com/binckbank-api/client-js#binck-openapi-documentation\r\n  "
  },
  "host": "api.sandbox.binck.com",
  "schemes": [
    "http"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets all the active accounts of the customer.",
        "description": "If there is no account, the collection will be empty.",
        "operationId": "Accounts_GetAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the accounts.",
            "schema": {
              "$ref": "#/definitions/AccountsResponse"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets the specific account details.",
        "description": "Only active accounts are returned.",
        "operationId": "Accounts_GetAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The account is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/AccountsResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Gets the balance for a specific account",
        "description": "This call can be used to get the spending limit and total asset value.",
        "operationId": "Balances_GetAccountBalances",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The balance is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/BalancesResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/instruments/lists/{id}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Gets all instruments in a predefined list",
        "description": "List are a fast way to retrieve a group of instruments. Count in the response might be an 'educated guess'.",
        "operationId": "Instruments_GetListContents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the list",
            "required": true,
            "type": "string",
            "enum": [
              "amsterdamAEXIndex",
              "amsterdamAMXIndex",
              "amsterdamASCXIndex",
              "brusselsBEL20Index",
              "copenhagenOMX20Index",
              "dublinISEQ20Index",
              "frankfurtDAX30Index",
              "helsinkiHEX25Index",
              "internationalIndices",
              "lisbonPSI20Index",
              "londonFTSE100Index",
              "madridIBEX35Index",
              "milanMIB40Index",
              "newYorkAMEXIndex",
              "newYorkDowJones30Index",
              "newYorkNASDAQ100Index",
              "newYorkNASDAQIndex",
              "newYorkNYSEIndex",
              "osloOBXIndex",
              "parisCAC40Index",
              "parisCACLarge60Index",
              "parisCACMid60Index",
              "parisCACMidAndSmallIndex",
              "parisCACNext20Index",
              "parisCACPMEIndex",
              "parisCACSmallIndex",
              "stockholmOMX30Index",
              "torontoSPTSX60Index",
              "torontoVentureIndex",
              "viennaATX20Index",
              "zurichSMIIndex",
              "popularItalyFutures",
              "popularNetherlandsFutures",
              "popularFranceFutures"
            ]
          },
          {
            "name": "includeTickSizes",
            "in": "query",
            "description": "When set to true, the response will include a table with the Ticksizes for the instrument, default = false",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of 1 or more instruments.",
            "schema": {
              "$ref": "#/definitions/InstrumentsResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The list is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/instruments": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Gets instrument information",
        "description": "Parameter 'SearchText' or 'Isin' is required. 'Type' is optional, 'Mic' can only be used together with 'Isin'.",
        "operationId": "Instruments_GetInstruments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "includeTickSizes",
            "in": "query",
            "description": "When set to true, the response will include a table with the Ticksizes for the instrument, default = false",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "instrumentType",
            "in": "query",
            "description": "Additional optional filter on instrument type. Cannot be used alone.",
            "required": false,
            "type": "string",
            "enum": [
              "bond",
              "cashDividend",
              "certificate",
              "choiceDividend",
              "claim",
              "coupon",
              "discounter",
              "equity",
              "future",
              "futureClass",
              "index",
              "investmentFund",
              "ipo",
              "option",
              "optionClass",
              "otherLeveragedProduct",
              "speeder",
              "sprinter",
              "srd",
              "srdClass",
              "stockDividend",
              "structuredProduct",
              "tracker",
              "turbo",
              "unclassified",
              "warrant"
            ]
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "Case insensitive search text, minimum length 2. Cannot be used in combination with 'Isin'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "isin",
            "in": "query",
            "description": "Selection on isincode. Cannot be used in combination with 'SearchText'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mic",
            "in": "query",
            "description": "Additional optional selection on Market Identification Code, to be used only in combination with 'Isin'",
            "required": false,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of 1 or more instruments.",
            "schema": {
              "$ref": "#/definitions/InstrumentsResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/instruments/leveragedproducts": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Gets instrument information for leveraged products like Turbo's",
        "description": "Provide one or more filter criteria in the query parameters. When a filter value is not specified, the default value is used.",
        "operationId": "Instruments_GetLeveragedProducts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "includeTickSizes",
            "in": "query",
            "description": "When set to true, the response will include a table with the Ticksizes for the instrument, default = false",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisher",
            "in": "query",
            "description": "Name of the publishing company, default is 'binckBank'",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "binckBank",
              "bnpParibas",
              "citigroup",
              "commerzBank",
              "goldmanSachs",
              "ing"
            ]
          },
          {
            "name": "longShort",
            "in": "query",
            "description": "Long or short, default is 'all' (both long and short)",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "long",
              "short"
            ]
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category, default is 'indices'",
            "required": false,
            "type": "string",
            "enum": [
              "bonds",
              "commodities",
              "currencies",
              "equities",
              "indices"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specifies type (Turbo or XL), default is 'all' (both Turbo and XL)",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "regular",
              "xl"
            ]
          },
          {
            "name": "stoplossMin",
            "in": "query",
            "description": "Specifies minimum stop loss",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "name": "stoplossMax",
            "in": "query",
            "description": "Specifies maximum stop loss",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of 1 or more instruments.",
            "schema": {
              "$ref": "#/definitions/InstrumentsResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/instruments/{id}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Gets instrument information for the specific id",
        "description": "Multiple instruments can be retrieved if separated by comma, for example to get the instruments from the positions.",
        "operationId": "Instruments_GetInstrument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ids of the equity to retrieve. If there are multiple ids, separate them by comma's.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeTickSizes",
            "in": "query",
            "description": "When set to true, the response will include a table with the Ticksizes for the instrument, default = false",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The instrument information is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/InstrumentsResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The instrument is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/instruments/{id}/kid": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Gets KID document information for an instrument",
        "description": "Use this for instruments which have the isKidApplicable flag set to true. This endpoint searches for documentation. Still, it might be the case there is no documentation for a specific instrument, in the language of the customer. It can also be the case there are multiple documents for a certain instrument.",
        "operationId": "Instruments_SearchKidDocument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the instrument.",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The instrument information is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/KidResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The instrument or KID document is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/instruments/{id}/kid/{kidId}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Get KID document",
        "description": "The document is a PDF file.",
        "operationId": "Instruments_ReadKidDocument",
        "consumes": [],
        "produces": [
          "attachment/PDF"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the equity to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "kidId",
            "in": "path",
            "description": "Id of the Kid document.",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The instrument information is successfully retrieved.",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The instrument or KID document is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/instruments/derivatives": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Gets the series for a derivatives class (options/futures)",
        "description": "This endpoint can be used to get an option sheet.",
        "operationId": "Instruments_GetDerivatives",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Selection on symbol. \r\nCannot be used in combination with 'UnderlyingInstrumentId'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "underlyingInstrumentId",
            "in": "query",
            "description": "Selection on the ID of the underlying equity.\r\nCannot be used in combination with 'symbol'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "marketIdentificationCode",
            "in": "query",
            "description": "Can be used in combination with symbol to specify the market.",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Can be used in combination with symbol to specify the currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of derivative series information.",
            "schema": {
              "$ref": "#/definitions/DerivativesResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/news": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Returns news for the specified selection\r\nOnly the first 250 news messages for the selection in the news history are available.",
        "operationId": "News_GetNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Optional start date, if left out, fromdate will be today. If no instrument ids are supplied, only dates from the\r\nlast month are accepted, otherwise only dates from the last week are accepted.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Optional end date, do not combine with instruments.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "instrumentIds",
            "in": "query",
            "description": "Optional ids of the instruments to retrieve.\r\nIf there are multiple ids, separate them by comma's.",
            "required": false,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the news messages.",
            "schema": {
              "$ref": "#/definitions/NewsResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "news"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "news"
      }
    },
    "/accounts/{accountNumber}/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Gets all active/recent orders of an account",
        "description": "The response contains the active, cancelled and recent orders. If there is no order, the collection will be empty.",
        "operationId": "Orders_GetOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "'all' will select all the orders. Other possible values are 'open', 'executed' and 'canceled'.",
            "required": false,
            "type": "string",
            "pattern": "^all$|^open$|^executed$|^canceled$"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the orders.",
            "schema": {
              "$ref": "#/definitions/OrdersResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Register an order to sent to the market",
        "description": "This order will be sent to the market and executed according to the specifications. Something to be aware of: the response of this call might arrive after the order event from the realtime feed.",
        "operationId": "Orders_RegisterOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "An account number to register the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newOrder",
            "in": "body",
            "description": "Specifications to be used for the order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewOrderModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "[Created] Order is successfully registered.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "422": {
            "description": "[Unprocessable Entity] The request is valid but the order can not be validated. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/accounts/{accountNumber}/orders/history": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Gets all the historical orders of an account",
        "description": "The response contains the historical orders of the requested month. If there is no order, the collection will be empty.",
        "operationId": "Orders_GetHistoricalOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "The year for which the historical orders should be retrieved",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "month",
            "in": "query",
            "description": "The month for which the historical orders should be retrieved",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the orders.",
            "schema": {
              "$ref": "#/definitions/OrdersResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/orders/{number}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Gets a specific order for an account",
        "description": "If the order has multiple legs, multiple order objects are returned.",
        "operationId": "Orders_GetOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number used to register the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "path",
            "description": "The order number for this account.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The order is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The order is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Requests to cancel an order",
        "description": "Cancellation is possible only if the order has not already been executed (order.lastStatus is “placed”, “placementConfirmed”, or “modified”).",
        "operationId": "Orders_CancelOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number used to register the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "path",
            "description": "The order number for this account.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The cancellation request is successfully created.",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "422": {
            "description": "[Unprocessable Entity] The request is valid but the order can not be validated. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Modifies an already existing order",
        "description": "First, validate the modification - modification is possible if the order has not already been executed (order.lastStatus is “placementConfirmed”, or “modified”).",
        "operationId": "Orders_ModifyOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "An account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "path",
            "description": "The order number.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "modifiedOrder",
            "in": "body",
            "description": "Modifications to be used for the order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyOrderModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/accounts/{accountNumber}/orders/{number}/preview": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Validates the modification of an already existing order",
        "description": "This allows you to validate an order modification without sending it to the market. The order will not be created.\r\nThe response will contain information about if the order can be processed.\r\nIt also might includes warnings to show to the customer. And Confirmations, which are warnings to be approved by the customer, before placing the order modification.",
        "operationId": "Orders_PreviewModifyOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "An account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "in": "path",
            "description": "The order number.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "modifiedOrder",
            "in": "body",
            "description": "Modifications to be used for the order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyOrderModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreviewOrderResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/accounts/{accountNumber}/orders/preview": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Previews an order",
        "description": "This allows you to validate an order without sending it to the market. The order will not be created. The response will contain information about if the order can be processed.\r\nIt also includes warnings to show to the customer. And Confirmations, which are warnings to be approved by the customer, before placing the order.",
        "operationId": "Orders_PreviewOrder",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number to register the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newOrder",
            "in": "body",
            "description": "Specifications to be used for the order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewOrderModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The preview is successful. For more information about the order, check the response.",
            "schema": {
              "$ref": "#/definitions/PreviewOrderResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/accounts/{accountNumber}/orders/costs": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Previews the costs for an order",
        "description": "This allows you to check costs for an order without sending it to the market.",
        "operationId": "Orders_PreviewOrderCosts",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number to register the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "newOrder",
            "in": "body",
            "description": "Specifications to be used for the order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewOrderModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The order cost request is successful. For more information about the costs, check the response.",
            "schema": {
              "$ref": "#/definitions/OrderCostsResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "422": {
            "description": "[Unprocessable Entity] The request is valid but the order can not be validated. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "write"
      }
    },
    "/accounts/{accountNumber}/performances": {
      "get": {
        "tags": [
          "Performances"
        ],
        "summary": "Gets the financial performance information for an account.",
        "description": "Yearly performance.",
        "operationId": "Performances_GetPerformances",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The performance information is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/PerformancesResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/performances/{year}": {
      "get": {
        "tags": [
          "Performances"
        ],
        "summary": "Gets the financial performance information for an account, per year.",
        "description": "Only applicable for the years the account was active.",
        "operationId": "Performances_GetPerformance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "The year for the performance information.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "onPosition",
            "in": "query",
            "description": "Performances can be calculated on position level or on instrument level. When 'onPosition' set to true,\r\nthe performance of all individual instruments will be reported. If set to false, the performance of \r\nderivative instruments is included in the performance of the underlying instrument.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The performance information is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/PerformancesResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/positions": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "Gets all the positions of an account",
        "description": "If there is no position, the collection will be empty.",
        "operationId": "Positions_GetPositions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "An account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the positions.",
            "schema": {
              "$ref": "#/definitions/PositionsResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/positions/{instrumentId}": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "Gets the specific position for an account",
        "description": "Positions are identified by the instrument.",
        "operationId": "Positions_GetPosition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "An account number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instrumentId",
            "in": "path",
            "description": "The id of the requested instrument.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The position is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/PositionResponse"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The position is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/quotes": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Returns current quotes and quote subscription (realtime/delayed) for one or more instruments",
        "operationId": "Quotes_GetQuotes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "instrumentIds",
            "in": "query",
            "description": "Ids of the instruments to retrieve. If there are multiple ids, separate them by comma's.",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "in": "query",
            "description": "The maximal quote level returned",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "tradesOnly",
              "tradesBidAsk",
              "fullBook"
            ]
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The quote information is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/QuotesResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "quotes"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "quotes"
      }
    },
    "/quotes/{instrumentId}/history": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Returns historical quotes for one instrument over a period",
        "description": "The different intervals each have different maximum period lengths, ranging from five days for one minute, to 10 years for one week.",
        "operationId": "Quotes_GetHistoricalQuotes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "The Id of the instrument for which the historical quotes will be retrieved",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "description": "Mandatory Account Number",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "The start moment of historical quotes",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "The end moment of historical quotes, defaulting to the Current date and time according to UTC time standard",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Interval for historical quotes\r\nDepending on the interval, the historical quotes collection returned will be limited to a certain period:\r\nMax. number of days for one minute interval is 5.\r\nMax. number of days for five minute interval is 20.\r\nMax. number of days for ten minute interval is 20.\r\nMax. number of days for fifteen minute interval is 60.\r\nMax. number of days for one hour interval is 120.\r\nMax. number of years for one day interval is 10.\r\nMax. number of years for one week interval is 10.",
            "required": true,
            "type": "string",
            "enum": [
              "oneMinute",
              "fiveMinutes",
              "tenMinutes",
              "fifteenMinutes",
              "oneHour",
              "oneDay",
              "oneWeek",
              "oneMonth"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] The historical quote information is successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/HistoricalQuotesResponseModel"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account or instrument is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "quotes"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "quotes"
      }
    },
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Gets the current active sessions",
        "description": "Only internal use.",
        "operationId": "Sessions_GetSessions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "[OK] The sessions are returned.",
            "schema": {
              "$ref": "#/definitions/SessionsResponse"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "internal"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "internal"
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Ends the current active session",
        "description": "Sessions must be closed, because there is a limit on the active sessions.",
        "operationId": "Sessions_EndSession",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "[OK] The session is ended.",
            "schema": {
              "$ref": "#/definitions/LogoffResponse"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/settings": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Obtains the product settings for the specified account",
        "description": "If the settings return an empty list, trading is not allowed. This can be the case for a savings account, or if the account is not fully activated yet.",
        "operationId": "Settings_GetSettings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the settings.",
            "schema": {
              "$ref": "#/definitions/SettingsResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "404": {
            "description": "[NotFound] The account is not found.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/accounts/{accountNumber}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets all the transactions for an account",
        "description": "The response not only includes the executed orders, but also withdrawals and deposits.",
        "operationId": "Transactions_GetTransactions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "An account number",
            "required": true,
            "type": "string"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
            "required": false,
            "type": "string",
            "pattern": "[0-9]+-[0-9]*"
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Date from which to filter. Format YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Date to which to filter. Format YYYY-MM-DD",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "mutationGroup",
            "in": "query",
            "description": "Mutation groups (with enums)<br />\r\nBuyAndSell includes : <br />\r\n  AssignmentCall<br />\r\n  AssignmentPut<br />\r\n  ExcerciseCall<br />\r\n  ExcercisePut<br />\r\n  Buy<br />\r\n  OpeningBuy  <br />\r\n  OpeningBuyFutures<br />\r\n  Sell<br />\r\n  OpeningSell<br />\r\n  OpeningSellFutures<br />\r\n  ClosingBuy<br />\r\n  ClosingBuyFutures<br />\r\n  ClosingSell<br />\r\n  ClosingSellFutures<br />\r\nCost includes : <br />\r\n  SettlementCosts<br />\r\nCouponPayment includes : <br />\r\n  SecuritiesLendingCouponPayment<br />\r\n  CouponPayment<br />\r\nDividendPayment includes : <br />\r\n  SecuritiesLendingDividendPayment<br />\r\n  DividendPayment<br />\r\nInterestPayment includes : <br />\r\n  CreditInterest<br />\r\n  DebitInterest<br />\r\nMoneyTransfer includes : <br />\r\n  ExternalTransfer<br />\r\n  InternalTransfer<br />\r\n  OnlineMoneyTransfer<br />\r\n  Regulation<br />\r\nPositionMutation includes : <br />\r\n  Buy<br />\r\n  Sell<br />",
            "required": false,
            "type": "string",
            "enum": [
              "buyAndSell",
              "cost",
              "couponPayment",
              "dividendPayment",
              "interestPayment",
              "moneyTransfer",
              "positionMutation"
            ]
          },
          {
            "name": "currency",
            "in": "query",
            "description": "3-letter currency code (ISO 4217)",
            "required": false,
            "type": "string",
            "pattern": "^[a-zA-Z]{3}$"
          }
        ],
        "responses": {
          "200": {
            "description": "[OK] A list of the transactions.",
            "schema": {
              "$ref": "#/definitions/TransactionsResponse"
            }
          },
          "400": {
            "description": "[Bad Request] The request is not valid. See response body for more detail.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          },
          "401": {
            "description": "[Unauthorized] Authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/ErrorMessageModel"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "Application & Application User",
        "x-scope": "read"
      }
    },
    "/version": {
      "get": {
        "tags": [
          "Version"
        ],
        "summary": "Gets the current version and the last date of build.",
        "operationId": "Version_GetVersion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionModel"
            }
          }
        },
        "x-throttling-tier": "Unlimited",
        "x-auth-type": "None"
      }
    }
  },
  "definitions": {
    "AccountsResponse": {
      "description": "Accounts API response",
      "required": [
        "accountsCollection",
        "metadata"
      ],
      "type": "object",
      "properties": {
        "accountsCollection": {
          "$ref": "#/definitions/AccountsCollectionModel",
          "description": "Collection of zero, one or more accounts"
        },
        "metadata": {
          "$ref": "#/definitions/MetadataModel",
          "description": "API response meta data"
        }
      }
    },
    "AccountsCollectionModel": {
      "description": "Collection of zero, one or more accounts",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "Collection of zero, one or more accounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountModel"
          }
        }
      }
    },
    "MetadataModel": {
      "description": "API response meta data",
      "required": [
        "version",
        "timestamp"
      ],
      "type": "object",
      "properties": {
        "version": {
          "description": "Version information",
          "type": "string"
        },
        "timestamp": {
          "format": "date-time",
          "description": "Date and time the response is created",
          "type": "string"
        }
      }
    },
    "AccountModel": {
      "description": "Account model",
      "required": [
        "name",
        "number",
        "type",
        "isReadOnly"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the account",
          "type": "string"
        },
        "iban": {
          "description": "The IBAN of the account",
          "type": "string"
        },
        "number": {
          "description": "Accountnumber",
          "type": "string"
        },
        "type": {
          "description": "Type of account",
          "enum": [
            "savings",
            "binckComplete",
            "fundCoach",
            "planEpargneAction",
            "planEpargneActionPme",
            "assetManagement",
            "savingsBroker",
            "assetManagementSelect"
          ],
          "type": "string"
        },
        "isReadOnly": {
          "description": "Scope for the account",
          "type": "boolean"
        }
      }
    },
    "ErrorMessageModel": {
      "description": "Error message model",
      "required": [
        "developerMessage",
        "endUserMessage",
        "errorCode",
        "errorId"
      ],
      "type": "object",
      "properties": {
        "developerMessage": {
          "description": "The message that should be used by the developer",
          "type": "string"
        },
        "endUserMessage": {
          "description": "The message that can be shown to the end user",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code",
          "type": "string"
        },
        "errorId": {
          "description": "The id of the error",
          "enum": [
            "initial",
            "unknown",
            "notFound",
            "conversionError",
            "functionalError",
            "validationError",
            "orderCancellationNotPossible",
            "orderModificationRefused",
            "orderNotValid",
            "logonFailure",
            "mediumBlocked",
            "noAuthorization",
            "noMatchingAccountInfoFound",
            "sessionExpiredMaxDuration",
            "sessionExpiredMaxInactivity",
            "sessionInvalid",
            "failedToCreateSession",
            "orderNumberIsIncorrect",
            "hashIdError",
            "productNotEnabled",
            "sessionMaxActivityExceeded",
            "tooManyRequests",
            "notImplemented"
          ],
          "type": "string"
        }
      }
    },
    "BalancesResponse": {
      "description": "Balances API response",
      "required": [
        "balancesCollection",
        "metadata"
      ],
      "type": "object",
      "properties": {
        "balancesCollection": {
          "$ref": "#/definitions/BalancesCollectionModel",
          "description": "Collection of zero, one or more balances"
        },
        "metadata": {
          "$ref": "#/definitions/MetadataModel",
          "description": "API response meta data"
        }
      }
    },
    "BalancesCollectionModel": {
      "description": "Collection of zero, one or more balances",
      "type": "object",
      "properties": {
        "balances": {
          "description": "Collection of zero, one or more balances",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BalanceModel"
          }
        },
        "currency": {
          "description": "The base currency",
          "type": "string"
        }
      }
    },
    "BalanceModel": {
      "description": "Balance model",
      "required": [
        "assetsTotalValue",
        "cashBalance",
        "portfolioValue",
        "cashBalancesCollection"
      ],
      "type": "object",
      "properties": {
        "assetsTotalValue": {
          "format": "double",
          "description": "Assets total value in Euro",
          "type": "number"
        },
        "cashBalance": {
          "format": "double",
          "description": "Total cash balance in Euro",
          "type": "number"
        },
        "portfolioValue": {
          "format": "double",
          "description": "Portfolio value",
          "type": "number"
        },
        "availableSpendingLimit": {
          "format": "double",
          "description": "Spending power",
          "type": "number"
        },
        "availableSpendingLimitSrd": {
          "format": "double",
          "description": "Spending power for SRD",
          "type": "number"
        },
        "cashBalancesCollection": {
          "$ref": "#/definitions/CashBalancesCollectionModel",
          "description": "Collection of one or more cash accounts per currency"
        }
      }
    },
    "CashBalancesCollectionModel": {
      "description": "Collection of one or more money accounts - always the cash of the base currency and if available Dollar, and/or other money accounts.",
      "type": "object",
      "properties": {
        "cashBalances": {
          "description": "CashBalances collection",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CashBalanceModel"
          }
        }
      }
    },
    "CashBalanceModel": {
      "description": "Cash balance containing the balance for the Euro account, and if available, other cash balances",
      "required": [
        "currency",
        "cashBalance"
      ],
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency",
          "type": "string"
        },
        "cashBalance": {
          "format": "double",
          "description": "Cash balance",
          "type": "number"
        }
      }
    },
    "AccountNumberQueryParam": {
      "description": "Parameters class to validate query parameters.",
      "required": [
        "accountNumber"
      ],
      "type": "object",
      "properties": {
        "accountNumber": {
          "description": "Mandatory Account Number",
          "type": "string"
        }
      }
    },
    "PaginationQueryParam": {
      "description": "Pagination parameters",
      "type": "object",
      "properties": {
        "range": {
          "description": "Paging parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;. \r\nBoth values are an offset from the first entry of the complete collection. The first entry has offset '0'.\r\n(e.g. 12-21)",
          "pattern": "[0-9]+-[0-9]*",
          "type": "string"
        }
      }
    },
    "InstrumentsResponseModel": {
      "description": "Instruments API response (includes paging)",
      "required": [
        "instrumentsCollection",
        "count",
        "metadata"
      ],
      "type": "object",
      "properties": {
        "instrumentsCollection": {
          "$ref": "#/definitions/InstrumentsCollectionModel",
          "description": "Collection of zero, one or more instruments"
        },
        "paging": {
          "$ref": "#/definitions/PagingModel",
          "description": "Paging information"
        },
        "count": {
          "format": "int64",
          "description": "Number of entries in the complete collection",
          "type": "integer"
        },
        "metadata": {
          "$ref": "#/definitions/MetadataModel",
          "description": "API response meta data"
        }
      }
    },
    "InstrumentsCollectionModel": {
      "description": "Collection of instruments",
      "type": "object",
      "properties": {
        "instruments": {
          "description": "Collection of instruments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstrumentModel"
          }
        }
      }
    },
    "PagingModel": {
      "description": "Paging model for offset base pagination",
      "required": [
        "limit",
        "max",
        "offset",
        "refresh"
      ],
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "description": "Offset of the last entry in this subset",
          "type": "integer"
        },
        "max": {
          "format": "int64",
          "description": "Maximum number of entries per subset",
          "type": "integer"
        },
        "offset": {
          "format": "int64",
          "description": "Offset of the first entry in this subset",
          "type": "integer"
        },
        "next": {
          "description": "Parameter and value to add to the request to retrieve the next subset",
          "type": "string"
        },
        "previous": {
          "description": "Parameter and value to add to the request to retrieve the previous subset",
          "type": "string"
        },
        "refresh": {
          "description": "Parameter and value to add to the request to retrieve the same subset",
          "type": "string"
        }
      }
    },
    "InstrumentModel": {
      "description": "Instrument model",
      "required": [
        "id",
        "name",
        "symbol",
        "type",
        "currency",
        "priceDecimals",
        "tickerSymbol",
        "isTradable",
        "isKidApplicable",
        "hasOptions",
        "hasFutures",
        "hasSrd",
        "hasLeveragedProducts",
        "hasOrderModifications"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Identification of the instrument",
          "type": "string"
        },
        "name": {
          "description": "Name of the instrument",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of the instrument",
          "type": "string"
        },
        "isincode": {
          "description": "ISIN-code of the instrument",
          "type": "string"
        },
        "type": {
          "description": "OptionType of the instrument",
          "enum": [
            "bond",
            "cashDividend",
            "certificate",
            "choiceDividend",
            "claim",
            "coupon",
            "discounter",
            "equity",
            "future",
            "futureClass",
            "index",
            "investmentFund",
            "ipo",
            "option",
            "optionClass",
            "otherLeveragedProduct",
            "speeder",
            "sprinter",
            "srd",
            "srdClass",
            "stockDividend",
            "structuredProduct",
            "tracker",
            "turbo",
            "unclassified",
            "warrant"
          ],
          "type": "string"
        },
        "marketIdentificationCode": {
          "description": "Market Identification Code of the instrument",
          "type": "string"
        },
        "derivativesInfo": {
          "$ref": "#/definitions/DerivativesInfoModel",
          "description": "Derivative serie information"
        },
        "srdInfo": {
          "$ref": "#/definitions/SrdInfoModel",
          "description": "Srd or Srd class information:\r\nSearching for an Srd will return a class. Ordering can done on both this class or the underlying equity.\r\nPositions and transactions report the SRD class. To get information about the underlying equity, the SRD can be retrieved using the instruments endpoint."
        },
        "bondInfo": {
          "$ref": "#/definitions/BondInfoModel",
          "description": "Bond only information"
        },
        "leveragedProduct": {
          "$ref": "#/definitions/LeveragedProductInfoModel",
          "description": "Leveraged Product information"
        },
        "currency": {
          "description": "Currency of the instrument",
          "type": "string"
        },
        "priceDecimals": {
          "format": "int64",
          "description": "Number of decimals used to format the price",
          "type": "integer"
        },
        "tickerSymbol": {
          "description": "Ticker symbol of the instrument",
          "type": "string"
        },
        "isTradable": {
          "description": "Indicates if orders for this instrument can be processed",
          "type": "boolean"
        },
        "isKidApplicable": {
          "description": "Indicates whether KID document must be shown before placing an order",
          "type": "boolean"
        },
        "tickSizeCollection": {
          "$ref": "#/definitions/TickSizesModel",
          "description": "Table containing tick sizes for minimal prize movement"
        },
        "hasOptions": {
          "description": "Indicates whether there exists at least one non-cancelled, non-expired, tradable option for this security, either\r\nan underlying value or an option class, with a valid listing (for the company/label) for which\r\nthe account is allowed to trade",
          "type": "boolean"
        },
        "hasFutures": {
          "description": "Indicates whether there exists at least one non-cancelled, non-expired, tradable future for this instrument\r\n, either an underlying value or a future class, with a valid listing (for the company/label) for which the account\r\nis allowed to trade.",
          "type": "boolean"
        },
        "hasSrd": {
          "description": "Indicates whether there exists at least one non-cancelled, non-expired, tradable srd for this security, either an\r\nunderlying value or an srd class, with a valid listing (for the company/label) for which the account\r\nis allowed to trade.",
          "type": "boolean"
        },
        "hasLeveragedProducts": {
          "description": "Indicates whether there exists at least one non-cancelled, non-expired, tradable, visible leveraged\r\nproduct for which the account is allowed to trade.",
          "type": "boolean"
        },
        "hasOrderModifications": {
          "description": "Indicates if orders for the instrument can be modified",
          "type": "boolean"
        }
      }
    },
    "DerivativesInfoModel": {
      "description": "Derivatives series model",
      "type": "object",
      "properties": {
        "underlyingInstrumentId": {
          "description": "Instrument Id",
          "type": "string"
        },
        "strike": {
          "format": "double",
          "description": "Strike price",
          "type": "number"
        },
        "strikeDecimals": {
          "format": "int32",
          "description": "Maximum number of decimals in strike price",
          "type": "integer"
        },
        "optionType": {
          "description": "Option type (put or call)",
          "enum": [
            "put",
            "call"
          ],
          "type": "string"
        },
        "contractSize": {
          "format": "double",
          "description": "Contract size",
          "type": "number"
        },
        "expirationDate": {
          "format": "date-time",
          "description": "Expiration date",
          "type": "string"
        }
      }
    },
    "SrdInfoModel": {
      "description": "SRD information model",
      "type": "object",
      "properties": {
        "underlyingInstrumentId": {
          "description": "The id of the equity",
          "type": "string"
        }
      }
    },
    "BondInfoModel": {
      "description": "Bond information\r\nIntentionally left empty",
      "type": "object",
      "properties": {}
    },
    "LeveragedProductInfoModel": {
      "description": "Leveraged product information",
      "type": "object",
      "properties": {
        "bonus": {
          "format": "double",
          "description": "Bonus",
          "type": "number"
        },
        "cap": {
          "format": "double",
          "description": "Cap",
          "type": "number"
        },
        "endedDateTime": {
          "format": "date-time",
          "description": "Enddate and time",
          "type": "string"
        },
        "exchangeRatio": {
          "format": "double",
          "description": "Exchange ratio",
          "type": "number"
        },
        "financingLevel": {
          "format": "double",
          "description": "Financing level",
          "type": "number"
        },
        "leverage": {
          "format": "double",
          "description": "Leverage",
          "type": "number"
        },
        "remainingValue": {
          "format": "double",
          "description": "Remaining Value",
          "type": "number"
        },
        "stopLossLevel": {
          "format": "double",
          "description": "Stoploss minimum",
          "type": "number"
        },
        "stopLossLevel2": {
          "format": "double",
          "description": "Stoploss maximum",
          "type": "number"
        },
        "strike": {
          "format": "double",
          "description": "Strike value",
          "type": "number"
        }
      }
    },
    "TickSizesModel": {
      "description": "Collection of TickSize steps used in the Instrument Model",
      "type": "object",
      "properties": {
        "tickSizes": {
          "description": "TickSizeStep collection",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TickSizeStepModel"
          }
        }
      }
    },
    "TickSizeStepModel": {
      "description": "A tick size is the minimum price movement of a trading instrument.\r\nThe price movements of different trading instruments vary, with their tick sizes representing the minimum amount they can move up or down on an exchange.\r\nTable might consist of only one row.",
      "type": "object",
      "properties": {
        "from": {
          "format": "double",
          "description": "From value for ticksize",
          "type": "number"
        },
        "size": {
          "format": "double",
          "description": "Tick size",
          "type": "number"
        }
      }
    },
    "InstrumentsQueryParams": {
      "description": "GetInstruments query parameters model",
      "required": [
        "accountNumber"
      ],
      "type": "object",
      "properties": {
        "accountNumber": {
          "description": "Mandatory Account Number",
          "type": "string"
        },
        "instrumentType": {
          "description": "Additional optional filter on instrument type. Cannot be used alone.",
          "enum": [
            "bond",
            "cashDividend",
            "certificate",
            "choiceDividend",
            "claim",
            "coupon",
            "discounter",
            "equity",
            "future",
            "futureClass",
            "index",
            "investmentFund",
            "ipo",
            "option",
            "optionClass",
            "otherLeveragedProduct",
            "speeder",
            "sprinter",
            "srd",
            "srdClass",
            "stockDividend",
            "structuredProduct",
            "tracker",
            "turbo",
            "unclassified",
            "warrant"
          ],
          "type": "string"
        },
        "searchText": {
          "description": "Case insensitive search text, minimum length 2. Cannot be used in combination with 'Isin'.",
          "type": "string"
        },
        "isin": {
          "description": "Selection on isincode. Cannot be used in combination with 'SearchText'.",
          "type": "string"
        },
        "mic": {
          "description": "Additional optional selection on Market Identification Code, to be used only in combination with 'Isin'",
          "type": "string"
        }
      }
    },
    "LeveragedProductsQueryParams": {
      "description": "GetLeveragedProducts query parameters model",
      "required": [
        "accountNumber"
      ],
      "type": "object",
      "properties": {
        "accountNumber": {
          "description": "Mandatory Account Number",
          "type": "string"
        },
        "publisher": {
          "description": "Name of the publishing company, default is 'binckBank'",
          "enum": [
            "all",
            "binckBank",
            "bnpParibas",
            "citigroup",
            "commerzBank",
            "goldmanSachs",
            "ing"
          ],
          "type": "string"
        },
        "longShort": {
          "description": "Long or short, default is 'all' (both long and short)",
          "enum": [
            "all",
            "long",
            "short"
          ],
          "type": "string"
        },
        "category": {
          "description": "Category, default is 'indices'",
          "enum": [
            "bonds",
            "commodities",
            "currencies",
            "equities",
            "indices"
          ],
          "type": "string"
        },
        "type": {
          "description": "Specifies type (Turbo or XL), default is 'all' (both Turbo and XL)",
          "enum": [
            "all",
            "regular",
            "xl"
          ],
          "type": "string"
        },
        "stoplossMin": {
          "format": "float",
          "description": "Specifies minimum stop loss",
          "type": "number"
        },
        "stoplossMax": {
          "format": "float",
          "description": "Specifies maximum stop loss",
          "type": "number"
        }
      }
    },
    "KidResponseModel": {
      "description": "OpenApi response for KID collection",
      "required": [
        "kidCollection",
        "metadata"
      ],
      "type": "object",
      "properties": {
        "kidCollection": {
          "$ref": "#/definitions/KidCollectionModel",
          "description": "Holds KID collection"
        },
        "metadata": {
          "$ref": "#/definitions/MetadataModel",
          "description": "API response meta data"
        }
      }
    },
    "KidCollectionModel": {
      "description": "Model contains KID collection",
      "required": [
        "kids"
      ],
      "type": "object",
      "properties": {
        "kids": {
          "description": "Holds KID collection data in name, KID id pair",
          "type": "array",
          "items": {
            "$ref": "#/definitions/KidInfoModel"
          }
        }
      }
    },
    "KidInfoModel": {
      "description": "Info model for KID",
      "required": [
        "name",
        "kidId"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the document",
          "type": "string"
        },
        "kidId": {
          "description": "Id of the document",
          "type": "string"
        }
      }
    },
    "InstrumentDerivativesQueryParams": {
      "description": "GetDerivatives query parameters model",
      "required": [
        "accountNumber"
      ],
      "type": "object",
      "properties": {
        "accountNumber": {
          "description": "Mandatory Account Number",
          "type": "string"
        },
        "symbol": {
          "description": "Selection on symbol. \r\nCannot be used in combination with 'UnderlyingInstrumentId'.",
          "type": "string"
        },
        "underlyingInstrumentId": {
          "description": "Selection on the ID of the underlying equity.\r\nCannot be used in combination with 'symbol'.",
          "type": "string"
        },
        "marketIdentificationCode": {
          "description": "Can be used in combination with symbol to specify the market.",
          "type": "string"
        },
        "currency": {
          "description": "Can be used in combination with symbol to specify the currency.",
          "type": "string"
        }
      }
    },
    "DerivativesResponseModel": {
      "description": "Derivatives API response",
      "required": [
        "count",
        "metadata"
      ],
      "type": "object",
      "properties": {
        "derivativesCollection": {
          "$ref": "#/definitions/DerivativesCollectionModel",
[...]
