span.instrumentName { 
    display: inline-block;
	width: 300px;
}

span.price {
    display: inline-block;
	width: 80px;
    text-align: right;
}

span.dateTime {
    display: inline-block;
	width: 200px;
    text-align: right;
}
